.home {
    display: flex;
    height: 85vh;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.home-main {
    display: flex;
    height: 40vh;
    width: 50vw;
    background-color: rgba(255, 99, 71, 0.438);
    border-radius: 20px;
    box-shadow: 2px 2px 12px gray;

    align-items: center;
    justify-content: center;
}

.formInput {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-btn {
    cursor: pointer;
    margin: 20px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(34, 28, 23);
    box-shadow: 2px 2px 12px gray;
    border-radius: 12px;
    border: none;
    text-decoration: no;
    padding: 10px 20px;
}

.home-btn:hover {
    color: black;
    background-color: whitesmoke;
}

.input-field {
    display: flex;
    margin: 20px;
    font-size: 20px;
}

input[type=text] {
    border: none;
    background-color: rgba(255, 99, 71, 0);
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 720px) {
    .home-main {
        height: 50vh;
        width: 85vw;
    }

    .home-btn {
        padding: 6px 25px;
        margin: 4px;
    }
    .input-field{
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 15px;
        margin: 0px;
        height: 8vh;
    }
}

@media only screen and (max-width: 380px) {
    .home-main {
        height: 50vh;
        width: 75vw;
    }

    .home-btn {
        padding: 6px 25px;
    }
}