.question-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ques-errors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: black;
    background-color: rgba(255, 99, 71, 0.438);
    box-shadow: 2px 2px 12px gray;
    border-radius: 12px;
    border: none;
    text-decoration: no;
    padding: 10px;

}

.errors {
    font-size: 20px;
    color: red
}

.img-div {
    height: 55vh;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}


.option-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 25vh;
    flex-wrap: wrap;
    width: 25vw;
    box-shadow: 2px 2px 20px gray;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.096);

}
.correct{
    background-color: green;
}
.opt-img {
    height: 20vh;
    width: 20vw;
    border-radius:7px;
}

.bottom-btn {
    display: flex;
    justify-content: space-around;
}

.quit {
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    margin-bottom: 15px;
    text-align: center;
    color: black;
    background-color: rgba(255, 99, 71, 0.438);
    box-shadow: 2px 2px 12px gray;
    border-radius: 12px;
    border: none;
    text-decoration: no;
    padding: 10px 30px;
}
.quit:hover{
    background-color: rgba(255, 99, 71, 0.904);

}
.next-btn{
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    margin-bottom: 15px;
    text-align: center;
    color: black;
    background-color: rgba(255, 99, 71, 0.438);
    box-shadow: 2px 2px 12px gray;
    border-radius: 12px;
    border: none;
    text-decoration: no;
    padding: 10px 30px;
}
.next-btn:hover{
    background-color: rgba(255, 99, 71, 0.904);

}
.warning-div{
    display: flex;
    justify-content: center;
    align-content: center;
}
.warning
{
    display: flex;
    border-radius: 15px;
    margin: 10px;
    border:none;
    box-shadow: 2px 2px 20px  rgba(128, 128, 128, 0.541);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 25vw;
    padding: 10px 20px;
    background-color: Red;
}

@media only screen and (max-width: 1100px) {
    
    .opt-img {
        height: 80%;
        width: 80%;
    }

}

@media only screen and (max-width: 720px) {
    .img-div {
        height: 110vh;
    }

    .opt-img {
        height: 50%;
        width: 70%;
    }

    .option-btn {
        width: 50vw;
    }
    .head-title{
        font-size:20px;
    }
    .warning{
        padding: 10px ;
        font-size: 10px;
    }

}